link(rel="stylesheet", href="/styles/style.css")
link(rel="stylesheet", href="/styles/nav.css")
link(rel="icon", href="/favicon.ico", type="image/x-icon")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="theme-color", content="#2eaeff")