include includes/mediaView.pug

doctype html
html
  head
    include includes/head.pug
    title CateVido.com
    meta(name="description", content="Funny Cate Vidos! :3")
    link(rel="stylesheet", href="/styles/media.css")

  body
    include includes/nav.pug

    main.container#media
      each m in media
        a.post(href=`/v/${m.id}`)
          p.title= m.title
          +mediaView(m)
