doctype html
html
  head
    include includes/head.pug
    title Upload - CateVido.com
    meta(name="description", content="Upload a Cate Vido")

  body
    include includes/nav.pug
    h1 Upload: soon&trade;